/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-properties */
:root{
	--orange:#f8813c;
	--azure: #002933;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	outline: none; border:none;
	text-decoration: none;
	transition: .2s linear;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-snap-type: 6rem;
	overflow-x: hidden;
}

header{
	position: fixed;
	top: 0; left: 0; right: 0;
	background: #87CEEB;
	padding: 2rem 9%;	
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
	font-size: 3rem;
	color: #333;
	font-weight: bolder;
}

header .logo span{
	color: red;
}

header .logo:hover{
	color: var(--orange);
}

header .navbar a{
	font-size: 2rem;
	padding: 0 1.5rem;
	color: #666;
}

header .navbar a:hover{
	color: var(--orange);
}

header .icons a{
	font-size: 2.5rem;
	color: #333;
	margin-left: 1.5rem;
}
header .icons a:hover{
	color: var(--orange);
}

header #toggler{
	display: none;
}
header .fa-bars{
	font-size: 3rem;
	color: #333;
	border-radius: .5rem;
	padding: .5rem 1.5rem;
	cursor: pointer;
	border: .1rem solid rgba(0, 0, 0, .1);
	display: none;
}

section{
	padding: 2rem 9%;
}

.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: #333;
	color: #fff;
	padding: .9rem 3.5rem;
	cursor: pointer;
	font-size: 1.7rem;
}
.btn:hover{
	background: var(--orange);
}


.home{
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-image:url(../images/backdog.jpg);
	background-size: cover;
	background-position: center;
}

.home .content{
	max-width: 50rem;
}

.home .content h3{
	font-size: 5rem;
	color: #000;
}
.home .content span{
	font-size: 3.5rem;
	color: #333;
	padding: 1rem 0;
	line-height: 1.5;
}

body {
	background: #89F6D1;
}


#link_topo{
	text-decoration: none;
	color: #f502a4;
	background-color: #FF80AA;
	padding: 10px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	box-shadow: 3px 3px 10px antiquewhite;
}

h1{
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 2px;
}

.negrito {
	font-weight: bold;
}
.red {
    color: red;
}







@media (max-width:991px){
	html{
		font-size: 55%;
	}
	
	header{
		padding:2rem;
	}
	section{
		padding: 2rem;
	}
}

@media (max-width:768px){
	header .fa-bars{
		display: block;
	}
	header .navbar{
		position: absolute;
		top: 100%; right: 0; left: 0;
		background: #41c6e7;
		border-top: .1rem solid rgba(0, 0, 0, .1);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
	header #toggler:checked ~ .navbar{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	header .navbar a{
		margin: 1.5rem;
		padding: 1.5rem;
		background: #4239b8;
		color: whitesmoke;
		border: .1rem solid rgba(0, 0, 0, .1);
		display: block;
	}
	.home .content h3{
		font-size: 5rem;
	}
	.home .content span{
		font-size: 2.5rem;
	}
}

@media (max-width:450px){
	html{
		font-size: 50%;
	}
	
	header{
		padding:2rem;
	}
	header img{
		display: none;
	}
}